<a href="https://colab.research.google.com/github/bhaskar4297/google_colab/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+1

2

In [ ]:
3*2

6

In [ ]:
5%2

1

In [ ]:
15%3

0

In [ ]:
(2+3)*(5+5)

50

In [ ]:
print('hello,this is a part of big data eith pyspark')

hello,this is a part of big data eith pyspark

In [ ]:
x=2
y=3
z=x+y
z #this will not store any where
print("result is",z) #it will store data

result is 5

In [ ]:
num=12
name='sam'
print('my name is : {x}, and my age is : {y}'.format(x=name,y=num))
print('my age is:{name}, and my name is : {num}'.format(num=12,name='sam'))

my name is : sam, and my age is : 12
my age is:sam, and my name is : 12

In [ ]:
'single quote'

'single quote'

In [ ]:
"double"

'double'

In [ ]:
list=[1,2,3,'hi']
list.append(4)
print(list)
print(list[3])

[1, 2, 3, 'hi', 4]
hi

In [ ]:
x=['hi',2,4,[2,8]]
x[2]
x[3]
x[3][1]

8

In [ ]:
my_list=[1,2,3,4,5,6,7,8]
my_list[2:6]
my_list[6]

7

In [ ]:
#print a list in reverse
my_list=[1,2,3,4,5,6,7,8]
my_list[-1::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
my_list[0]='new'
my_list

['new', 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#DICT
D={'key1':'item1','key2':'item2'}
D['key1']
type(D)

dict

In [ ]:
#boolean
a=2
b=2
a==b
a=b # this will not work as lhs=rhs not work

True

In [ ]:
#tuple
t=(1,2,3)
t[0]

1

In [ ]:
t[0]='new'

TypeError: ignored

In [ ]:
#sets
s={1,2,5}
s

{1, 2, 5}

In [ ]:
s={1,1,1,1,2,2,2,7,4,1,5}
s

{1, 2, 4, 5, 7}

In [ ]:
#comparision opration
1>2

False

In [ ]:
1<2

True

In [ ]:
1>=1

True

In [ ]:
'hi'=='Hi'

False

In [ ]:
#logical op

In [ ]:
(1>2) or (2<3)

True

In [ ]:
(1>2) and (2<3)

False

In [ ]:
(1==2) or (3==3) and (4==4)

True

In [ ]:
# if elif else

In [ ]:
if 1<2:
    print('yes')

yes

In [ ]:
if 1 > 2

In [ ]:
#for loop
seq=[1,2,3,4,5]
for item in seq:
     print(item)

1
2
3
4
5

In [ ]:
for item in seq:
     print('yes')

yes
yes
yes
yes
yes

In [ ]:
for item in seq:
     print(item+item)

2
4
6
8
10

In [ ]:
i=1
while i<5:
    print('i is :',i)
    i=i+1

i is : 1
i is : 2
i is : 3
i is : 4

In [ ]:
num = 2
mult = 1
while mult <=10:
    ans = num*mult
    print(num,'x',mult,'=',ans)
    mult=mult+1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
num=2
for i in range(1,11):

     print(num,'x',i,'=',num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
list = [1,2,3,4,5]
while len(list)

TypeError: ignored

In [ ]:
def square(x):     #define fn with fn name
     return x**2

In [ ]:
square(6)

36

In [ ]:
def sum(x,y):
     return x+y

In [ ]:
output=sum(5,6)
print(output)

11

In [ ]:
list=[]
list.append('SAM')
list
list.append("manekshwa")
list

['SAM', 'manekshwa']

In [ ]:
st='hello My name is saM'
print(st.lower())
print(st.upper())

hello my name is sam
HELLO MY NAME IS SAM

In [ ]:
a=st.split

In [ ]:
st = input("enter some characters : ")
print(st.lower())
print(st.upper())
st.split(' ')
st.split('@')

enter some characters : my name
my name
MY NAME

['my name']

In [ ]:
def converttolist(str):
    Lst [] = upper(str)
    return Lst

SyntaxError: ignored

In [ ]:
a='adgash1234jxfc78'
num=[]
alpha=[]
for i in range(len(a)):
    if (a[i].isdigit()):
        num.append(a[i])
    else:
        alpha.append(a[i])
print(num,alpha)

['1', '2', '3', '4', '7', '8'] ['a', 'd', 'g', 'a', 's', 'h', 'j', 'x', 'f', 'c']

In [ ]:
list =[2,27,99,3,90]
list.sort()
print(list)
print("smallest :",list[0])
print("largest :",list[-1])

[2, 3, 27, 90, 99]
smallest : 2
smallest : 99

In [ ]:
list =[2,27,99,3,90]
print("smallest: ",min(list))
print("largest: ",max(list))

smallest:  2
largest:  99

In [ ]:
a =[220,27,99,3,90,109,212]
min = 0
max = 0
for i in range(len(a)):
      if a[i] > min:
        max=a[i]
        min=a[i]
print(max)

220

In [ ]:
a =[220,27,99,3,90,109,212]
min = 27
for i in range(1,len(a)):
      if a[i] < min:
        min=a[i]
        
print(min)

3

In [ ]:
i live in india. india is an asian country.India is 2nd largest country by population.
how many times each word occured
hint list dict loop ifelse

In [ ]:
st = 'i live in india . india is an asian country . India is 2nd largest country by population .'
a=st.upper().split(' ')
d={}
for i in a:
    if i not in d.keys():
        d[i] = 0
    d[i] = d[i]+1
print(d)

I LIVE IN INDIA . INDIA IS AN ASIAN COUNTRY . INDIA IS 2ND LARGEST COUNTRY BY POPULATION .
{'I': 1, 'LIVE': 1, 'IN': 1, 'INDIA': 3, '.': 3, 'IS': 2, 'AN': 1, 'ASIAN': 1, 'COUNTRY': 2, '2ND': 1, 'LARGEST': 1, 'BY': 1, 'POPULATION': 1}

In [ ]:
d['INDIA']
print(d)

KeyError: ignored

In [ ]:
st = 'i live in india . india is an asian country . India is 2nd largest country by population .'

a=st.split(' ')
d={}
for india in a:
    d[india] = 0
    d[india]+=1
print(d)

{'i': 1, 'live': 1, 'in': 1, 'india': 1, '.': 1, 'is': 1, 'an': 1, 'asian': 1, 'country': 1, 'India': 1, '2nd': 1, 'largest': 1, 'by': 1, 'population': 1}

In [ ]:
st = 'i live in india . india is an asian country . India is 2nd largest country by population .'
word=input("enter word:")
a=[]
count=0
a=st.split(' ')
for i in range(0,len(a)):
      if (word == a[i]):
        count=count+1
        
print(count)

enter word:India
1

In [ ]:
st = 'i live in india . india is an asian country . India is 2nd largest country by population .'
count=0
a=st.split(' ')
word=india

for i in range(0,len(a)):
      if (word == a[i]):
        count=count+1
        
print(count)

NameError: ignored

In [ ]:
st = 'i live in india . india is an asian country . India is 2nd largest country by population .'
count=0
a=st.split(' ')

for i in range(0,len(a)):
      if (word == a[i]):
        count=count+1
        
print(count)

NameError: ignored

In [ ]:
#fabonicci_series

a=0
b=1
sum=0
for i in range(0,7):
    print(sum, end=',')
    a = b
    b = sum
    sum = a+b

0,1,1,2,3,5,8,

In [ ]:
list=[1,1,2,3,3,5,5,5,6,7,7]
non_duplicate = set(list)
print(non_duplicate)

{1, 2, 3, 5, 6, 7}

In [ ]:
list=[1,1,2,3,3,5,5,5,6,7,7]
distinct=[]
for i in list:
     if i not in distinct:
        distinct.append(i)
print(distinct)

[1, 2, 3, 5, 6, 7]

In [ ]:
list=[1,2,3,4,5,5,1,5,22]
x=5
count = 0
for i in range(0,len(list)):
    if (x==list[i]):
     count=count+1
print(count)

3